
body {
  background: radial-gradient(circle at center, #020617, #000);
}

.first-place-block {
  background: #020617;
  border: 2px solid #00d4ff;
}

.second-block, .third-block {
  background: #0f172a;
  border: 2px solid #00d4ff;
}

thead th {
  background: linear-gradient(180deg, #00d4ff, #1e3a8a);
}

tbody tr {
  background: #020617 !important;
}

tbody tr:nth-child(even) {
  background: #0f172a !important;
}
